/* Цвет основного текста #212121 */
/* Цвет вторичного текста #757575 */
/* Белый цвет #ffffff */
/* Акцент #2196F3 */
/* Цвет logo studio #000000 */
/* Цвет web studio #2196F3 */


  $primary-text-color: #757575;
  $title-text-color: #212121;
  $accent-color: #2196f3;
  $primary-white-color: #ffffff;
  $button-bg-color: #f5f4fa;
  $footer-bg-color: #2f303a;